*{
    box-sizing: border-box;
}
.topnav {
    background-color: #8f91369a;
    overflow: hidden;
  }
.topnav a {
    margin-top:0.7%;
    float: right;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
  }

  .bod{
    background-image: url("moonight.jpg");
    background-repeat: no-repeat;
    aspect-ratio: 2;
    margin: 0;
    padding-top: 15%;
  }

  .bod h1 ,.bod p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .styled {
    border: 0;
    margin-right: 10px;
    line-height: 1.5;
    text-align: center;
    color:purple;
    border-radius: 10px 0 10px 0;
    background-color: rgb(231, 191, 117);
  }
  .styled:hover {
    background-color:orchid;
  }
  
