* {
    box-sizing: border-box;
  
  }
  div{
      margin: auto;
      width: 90%;
      aspect-ratio: 1.2;
      border: 3px solid gray;
      box-shadow: 0px 0px 15px 5px grey;
      border-radius: 20px;
      padding: 1%;
      background-color: aqua;
  }
  p.emp input,p.detail input{
    float: inline-end;
    width: 95.5%;
  }
  
  p.dob>input{
    float: inline-end;
    width: 50%; 
  }
  p.sal>input{
    float: inline-end;
    width: 59%;
  }
  p.dept input{
    float: inline-start;
      width: 43%;
  }
  span.desig input{
    float: inline-end;
    margin-left: 9.5%;
    width: 43%;
  }
  span.tskill label,span.gender label, p.dob label,p.sal label,p.resume label{
    background-color: #000;
    color: #fff;
  }
    span.tskill{
      margin-right: 5%;
    }

    p.button{
        width: 100%;
        margin: 5%;
    }
    .styled {
        border: 0;
        margin:5%;
        line-height: 2.5;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: rgb(220, 88, 0);
        box-shadow: 0px 0px 15px 5px #000;
      }
      .styled:hover {
        background-color: rgb(0, 255, 42);
      }
      .button {
        margin: auto;
        translate: 10% 20%;
      }
    